<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a href="/blog/themes">Themes</a>
      </li>
      <% if (isLoggedIn) { %>
      <li class="main-header__item">
        <a href="/blog/new">New Blog</a>
      </li>
      <% } %>
      <!-- Search -->
    </ul>
    <ul class="main-header__item-list">
      <% if (isLoggedIn) { %>
      <li class="main-header__item">
        <a href="/blog/user/<%= userId %>">My Blogs</a>
      </li>
      <li class="main-header__item">
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } else { %>
      <li class="main-header__item">
        <a href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a href="/signup">Signup</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
