<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <div class="blog-list">
    <button><a href="/blog/new">New Blog</a></button>
    <h1>blogs</h1>
    <%- include('blog-list.ejs') %>
  </div>
</body>
<%- include('includes/end.ejs') %>