@import url('blog.css');
@import url('navigation.css');

:root {
  --primary-color: #4287f5;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
